<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary" padding>
    <ion-grid class="h-100">
      <ion-row class="h-100" align-items-center justify-content-center>
        <ion-col size="12">
            <form #form="ngForm" (ngSubmit)="login(form)">
                <ion-col align-self-center>
                  <div text-center>
                    <ion-text color="danger" *ngIf="loginError">
                        Login failed. Password or email are incorect.
                    </ion-text>
                    <h3>Login</h3>
                  </div>
                  <div padding>
                    <ion-item>
                      <ion-input name="email" type="email" placeholder="your@email.com" ngModel required></ion-input>
                    </ion-item>
                    <ion-item>
                      <ion-input name="password" type="password" placeholder="Password" ngModel required></ion-input>
                    </ion-item>
                  </div>
                  <div padding>
                    <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block">Login</ion-button>
                  </div>
                </ion-col>
                <ion-row align-items-center justify-content-around>
                    <ion-col size="8">
                      <ion-text color="light">
                          Don't have an account?
                      </ion-text>
                    </ion-col>
                    <ion-col size="3">
                      <ion-button size="small" routerDirection="root" routerLink="/register">Register </ion-button>
                    </ion-col>
                </ion-row>
            </form>
        </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
